.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #000;
  font-family: 'Ys text', sans-serif;
  color: #fff;
  font-size: 1.25vw;
  line-height: 20px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Grafita special demo', sans-serif;
  font-size: 5.6em;
  line-height: 95%;
  font-weight: 400;
  text-transform: uppercase;
}

.p-big {
  font-family: 'Ys text', sans-serif;
  font-size: 2.5em;
  line-height: 110%;
  font-weight: 400;
}

.xs {
  font-size: 1em;
  line-height: 125%;
}

.number {
  font-size: 1.6em;
  line-height: 95%;
}

.wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-right: 2.7vw;
  padding-left: 2.7vw;
}

.main-1s {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 2vw;
  padding-bottom: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-1s__bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-section {
  position: relative;
  z-index: 2;
  grid-column-gap: 1.38vw;
  grid-row-gap: 1.38vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-section.top-30 {
  margin-top: 1.6em;
}

.main-1s__logo {
  width: 20.49vw;
  height: 2.7vw;
}

.main-2s {
  padding-top: 6.672em;
  padding-bottom: 6.672em;
}

.main-1s__heading {
  position: relative;
  width: 100%;
}

.main-3s {
  position: relative;
  margin-top: 6.672em;
  padding-bottom: 6.672em;
}

.main-3s__sticky-container {
  position: fixed;
  left: 2.7vw;
  top: 7.3vw;
  bottom: 3.5vw;
  z-index: 0;
  width: 30.6vw;
}

.main-3s__text-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__number {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__sticky-wrapper {
  width: 100%;
  height: 100%;
}

.main-3s__icon {
  position: absolute;
  left: -100%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.main-3s__icon-container {
  position: relative;
  overflow: hidden;
  width: 4.16em;
  height: 3.9em;
  margin-left: 1.7em;
}

.main-3s__head-3 {
  position: absolute;
  bottom: -200%;
}

.main-3s__head-mask {
  position: relative;
  overflow: hidden;
}

.main-3s__number-2 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-3 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-4 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-5 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-6 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-7 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-8 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-9 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-10 {
  padding-top: 0.46em;
  opacity: 0;
}

.main-3s__number-11 {
  padding-top: 0.46em;
}

.main-3s__number-12 {
  padding-top: 0.46em;
}

.main-3s__number-13 {
  padding-top: 0.46em;
}

.main-3s__number-14 {
  padding-top: 0.46em;
}

.main-3s__sticky-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100vw 100vw 0vw 0vw;
}

.main-3s__sticky-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-3s__sticky-img-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-3s__sticky-text-container {
  width: 100%;
  margin-bottom: 1.7em;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.main-3s__sticky-text {
  width: 100%;
  margin-bottom: 1.7em;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.main-3s__sticky-text-2 {
  display: none;
  width: 100%;
  margin-bottom: 1.7em;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.main-3s__sticky-img-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-3s__text-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-3s__text-container-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-view {
  position: relative;
}

.main-3s__trigger {
  position: absolute;
  left: auto;
  top: -0.8em;
  right: 0%;
  bottom: -0.8em;
}

.main-3s__head-wrapper {
  position: relative;
}

.main-3s__head-2 {
  position: absolute;
  bottom: -100%;
}

.main-3s__icon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 479px) {
  body {
    font-size: 3.333333333333333vw;
  }

  h3 {
    font-size: 4.1em;
  }

  .p-big {
    font-size: 2em;
  }
}

#w-node-f102bde1-33a0-bcf5-8273-dad12d56e138-52553488 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d3254c0b-523c-8ea9-3831-eb5e07012954-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d04d4321-f432-8148-a6dd-90694cf5acc6-52553488 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-fa2ee442-ea45-ab25-7e31-c5370fe23a24-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 3;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_67b5b725-b65d-f8a5-8351-78a98d58797f-52553488 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_6319c54d-e4f3-7db8-acd9-87378ab2513e-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-c2c309a8-3feb-3577-147a-7a0b302c4629-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cd7ed93d-7127-bfbc-9bb2-0bc7620e145e-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-cd7ed93d-7127-bfbc-9bb2-0bc7620e1461-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_133dcc25-33cc-64aa-6ba6-d13b98f3cfbe-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_133dcc25-33cc-64aa-6ba6-d13b98f3cfc1-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_35435118-7253-fab3-57d1-e801b3ac3ef0-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_35435118-7253-fab3-57d1-e801b3ac3ef3-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a6787374-917e-bb78-10a6-b8ff0eba0ac7-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-a6787374-917e-bb78-10a6-b8ff0eba0aca-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a4e944b0-06d8-cebe-8ab7-8e58ffdc598d-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-a4e944b0-06d8-cebe-8ab7-8e58ffdc5990-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_632dd967-b36f-50de-652d-8a30df25aa5a-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_632dd967-b36f-50de-652d-8a30df25aa5d-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d8190357-1652-7aa8-3142-11c262bb4138-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-d8190357-1652-7aa8-3142-11c262bb413b-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f17e0c22-2aa8-c185-83de-69cd3537aa1c-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-f17e0c22-2aa8-c185-83de-69cd3537aa1f-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d000c77f-e921-80a3-84a3-2ec2de46cbe0-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-d000c77f-e921-80a3-84a3-2ec2de46cbe3-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_6ae4dece-ae57-c034-2e4b-5e5ec909d8c5-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_6ae4dece-ae57-c034-2e4b-5e5ec909d8c8-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_6ccd8e9e-ac52-fda5-8d37-fe8ed64fba55-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_6ccd8e9e-ac52-fda5-8d37-fe8ed64fba58-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9d1f22f1-aa56-d756-c174-6eef51d66048-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_9d1f22f1-aa56-d756-c174-6eef51d6604b-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_41cc68b3-55c3-7f54-6db8-9984b6bc3259-52553488 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_41cc68b3-55c3-7f54-6db8-9984b6bc325c-52553488 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yandex serif display';
  src: url('../fonts/Yandex-Serif-Display-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yandex serif display';
  src: url('../fonts/Yandex-Serif-Display-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ys display';
  src: url('../fonts/YS-Display-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yandex sans romans variable';
  src: url('../fonts/Yandex-Sans-romans-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yandex sans variable';
  src: url('../fonts/Yandex-Sans-italics-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ys text';
  src: url('../fonts/YS-Text-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Grafita special demo';
  src: url('../fonts/Grafita-Special-DEMO.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grafita demo';
  src: url('../fonts/Grafita-Normal-DEMO.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}